/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f4eeee;
    color: white;
  }
  
  #quiz-container {
    text-align: center;
    width: 80%;
    max-width: 600px;
    background-color: #333;
    padding: 20PX;
    border-radius: 20PX;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button.disabled, button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
    color: white;
  }
  #prevButton{
    
  }
  #options button {
    display: block;
    width: 100%;
    margin: 5px 0;
  }
  
  .green {
    background-color: #4CAF50;
  }
  
  .red {
    background-color: #F44336;
  }
  .blinking-text {
    animation: blink 0.4s infinite;
  }
  @keyframes blink{
    0% {opacity: 1;}
    50% {opacity: 0;}
    50% {opacity: 1;}
  }
  .glow-text {
    margin-top: -130%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    animation: glow 1s infinite alternate; /* Glowing animation */
    display: none;
    
  }
  
  @keyframes glow {
    0% {
      text-shadow: 0 0 10px #ff0000; /* Red glow */
      color: #ff0000; /* Red color */
    }
    33% {
      text-shadow: 0 0 10px #00ff00; /* Green glow */
      color: #00ff00; /* Green color */
    }
    66% {
      text-shadow: 0 0 10px #0000ff; /* Blue glow */
      color: #0000ff; /* Blue color */
    }
    100% {
      text-shadow: 0 0 10px #ff0000; /* Back to red glow */
      color: #ff0000; /* Back to red color */
    }
  }
  #scoreDisp, #scoreDisplay, #totalDisplay {
    color: black;
    background-color: white;
    width: 25%;
    align-items: center;
    justify-content: center;
    margin: 5px;
    text-align: left;
    padding: 1px;
    font-family: 'Times New Roman', Times, serif;
  }
  .Instructions {
    margin-top: -25pc;
    text-align: center;
    color: black;
    padding: 20px;
    width: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: ;
  }

  #countdown {
    color: black;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 400px;
    position: absolute;
    /* margin-left: 300px; */
  }
    #all{
      visibility: hidden;
    }
  @media (max-width: 768px) {
    #quiz-container{
      margin-left: -15px;
    }
    .glow-text{
      margin-top: -37pc;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;

    }
    .instructions{
      margin-top: -400px;
    }
    #scoreDisp, #scoreDisplay, #totalDisplay {
      /* visibility: hidden; */
      width: 120px;
      border-end-end-radius: 20px;

    }
    #countdown {
      margin-left: 210px;
    
    }
}

